[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/arbitrum"]
	path = lib/arbitrum
	url = https://github.com/OffchainLabs/token-bridge-contracts
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/arbitrum-nitro"]
	path = lib/arbitrum-nitro
	url = https://github.com/OffchainLabs/nitro
